<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Voltar" />
        </ion-buttons>
        <ion-title><h1>Contas</h1></ion-title>
        <ion-buttons slot="end">
            @if (accountsList.count > 0) {
                <ion-button fill="clear" (click)="toggleDelete()">
                    <ion-icon slot="icon-only" name="fas-pen" aria-hidden="true" />
                </ion-button>
            }
            <ion-button (click)="openSettings()">
                <ion-icon slot="icon-only" name="fas-gear" aria-hidden="true" />
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="limited-width">
    <div class="ion-padding">
       <ion-button (click)="logoutCustom()" expand="block" color="danger">
    SAIR!!
</ion-button>
    </div>

    <core-loading [hideUntil]="loaded">

        <core-sites-list [accountsList]="accountsList" [sitesClickable]="true" (onSiteClicked)="login($event)">
            <ng-template #siteItem let-site="site">
                @if (showDelete) {
                    <ion-button slot="end" fill="clear" color="danger" (click)="deleteSite($event, site)">
                        <ion-icon name="fas-trash" slot="icon-only" aria-hidden="true" />
                    </ion-button>
                } @else if (site.badge) {
                    <ion-badge slot="end">
                        <span>{{site.badge}}</span>
                    </ion-badge>
                }
            </ng-template>
        </core-sites-list>
    </core-loading>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="add()">
            <ion-icon name="fas-plus" aria-hidden="true" />
        </ion-fab-button>
    </ion-fab>
    <p>teste</p>
</ion-content>
