<ion-content class="ion-padding gray-background">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-md="6" size-lg="4">

<div class="logo-container ion-text-start">
 <img src="assets/img/govbr.webp" alt="gov.br" class="gov-logo">
</div>
        <ion-card class="login-card">
          <ion-card-content>
            <h2 class="form-title">Use seus dados do SUAP:</h2>

            <div class="input-group">
              <ion-label class="custom-label">CPF</ion-label>
              <ion-item lines="outline" class="custom-input">
                <ion-input type="text" placeholder="Digite seu CPF" [(ngModel)]="username"></ion-input>
              </ion-item>
            </div>

            <div class="input-group ion-margin-top">
              <ion-label class="custom-label">Senha</ion-label>
              <ion-item lines="outline" class="custom-input">
                <ion-input type="password" placeholder="Digite sua senha" [(ngModel)]="password"></ion-input>
              </ion-item>
            </div>

          <ion-button expand="block" class="btn-continuar" (click)="entrar()">
  Continuar
</ion-button>

            <div class="ion-text-center ion-margin-top links-container">
              <p class="help-link">
                <ion-icon name="help-circle" color="primary"></ion-icon>
                Está com dúvidas e precisa de ajuda?
              </p>
              <p class="terms-link">Termo de Uso e Aviso de Privacidade</p>
            </div>
          </ion-card-content>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
